html, body, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background-color: black;
}
canvas {
  background: white;
  /*padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;*/
}
