body {
  background-color: white;
}

#vector_subtraction {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  width: 45%;
  height: 100%;
}

#vector_normalize {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
  width: 45%;
  height: 100%;
}

#acceleration {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  width: 45%;
  height: 100%;
}

#mouse_orbit {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
  width: 45%;
  height: 100%;
}

#star_field {
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  width: 45%;
  height: 100%;
}
